@media(max-width:900px){

.navbar{

flex-direction:column;

padding:20px;

}

.navbar ul{

flex-wrap:wrap;

justify-content:center;

padding:0;

}

.hero h1{

font-size:42px;

}

.hero h2{

font-size:28px;

}

.hero p{

font-size:18px;

}

}
