@media(max-width:900px){

.navbar{

flex-direction:column;

padding:20px;

}

.navbar ul{

flex-wrap:wrap;

justify-content:center;

padding:0;

}

.hero h1{

font-size:42px;

}

.hero h2{

font-size:28px;

}

.hero p{

font-size:18px;

}

}
/* ===================================================
MÓDULO 06.2
PESQUISA CIENTÍFICA
=================================================== */

@media(max-width:991px){

    .research-grid{

        grid-template-columns:1fr;
        text-align:center;

    }

    .research-text h2{

        font-size:2rem;

    }

    .research-image{

        margin-top:40px;

    }

}
/* ===================================================
MÓDULO 06.3
OS TRÊS PILARES
=================================================== */

@media(max-width:991px){

    .pillars-section{

        padding:70px 0;

    }

    .pillars-section h2{

        font-size:2rem;

    }

}
/* ==========================
   MODELO NEOPESQUISA
========================== */

@media (max-width:768px){

.neo-model{

    padding:70px 0;

}

.neo-model-image{

    margin-top:35px;

}

}
