body{

margin:0;

font-family:'Inter',sans-serif;

background:#F4F6F9;

}

.navbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:25px 80px;

background:white;

box-shadow:0 4px 15px rgba(0,0,0,.08);

}

.logo{

font-size:30px;

font-family:'Poppins',sans-serif;

font-weight:700;

color:#5A43D6;

}

.navbar ul{

display:flex;

list-style:none;

gap:35px;

}

.navbar a{

text-decoration:none;

color:#123B5D;

font-weight:500;

}

.hero{

height:85vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:20px;

}

.hero h1{

font-family:'Poppins';

font-size:62px;

color:#123B5D;

margin-bottom:5px;

}

.hero h2{

font-family:'Poppins';

font-size:36px;

color:#5A43D6;

margin-top:0;

}

.hero p{

font-size:22px;

max-width:700px;

line-height:1.7;

}

.botao{

margin-top:40px;

padding:18px 45px;

background:#FF7A00;

color:white;

text-decoration:none;

border-radius:50px;

font-weight:600;

transition:.3s;

}

.botao:hover{

transform:translateY(-4px);

}
