/* ===================================================
   NeoPesquisa
   Variáveis Globais
   Versão 0.3
=================================================== */

:root{

    /* Cores */

    --primary:#123B5D;
    --secondary:#5A43D6;
    --accent:#FF7A00;

    --white:#FFFFFF;
    --light:#F4F6F9;
    --dark:#1E293B;

    --text:#334155;

    /* Fontes */

    --font-title:'Poppins',sans-serif;
    --font-text:'Inter',sans-serif;

    /* Espaçamentos */

    --container:1200px;

    --radius:12px;

    --transition:.30s;

}
